/* Navbar styling */
.bd-navbar .dropdown-toggle:focus:not(:focus-visible) {
    outline: 0
}
.bd-navbar .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-padding-x: .25rem;
    --bs-dropdown-padding-y: .25rem;
    --bs-dropdown-link-hover-bg: rgba(var(--bd-violet-rgb), .1);
    --bs-dropdown-link-active-bg: rgba(var(--bd-violet-rgb), 1);
    --bs-dropdown-font-size: .875rem;
    font-size: .875rem;
    border-radius: .5rem;
    box-shadow: var(--bs-box-shadow)
}
.bd-navbar .dropdown-menu li+li {
    margin-top: .125rem
}
.bd-navbar .dropdown-menu .dropdown-item {
    border-radius: .25rem
}
.bd-navbar .dropdown-menu .dropdown-item:active .bi {
    color: inherit !important
}
.bd-navbar .dropdown-menu .active {
    font-weight: 600
}
.bd-navbar .dropdown-menu .active .bi {
    display: block !important
}
.bd-navbar .dropdown-menu-end {
    --bs-dropdown-min-width: 8rem
}
[data-bs-theme="dark"] .bd-navbar {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15)
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

/* Make bootstrap tables more compact */
.table>:not(caption)>*>* {
    padding: .2rem .2rem !important;
}

/* Rules to make forms more compact */
.form-label { 
    margin-bottom: .2rem !important; 
}

.auth-bg {
    background-color: var(--bs-tertiary-bg);
}

/* Make links in tables have the default color also fix table links in dark mode*/
td > a:not(.btn) {
    color: var(--bs-primary-text-emphasis) !important;
}
[data-bs-theme="dark"] td a {
    color: var(--bs-body-color) !important;
    text-decoration-color: var(--bs-light) !important;
}
[data-bs-theme="dark"] td a:hover {
    color: var(--bs-form-valid-color) !important;
    text-decoration-color: var(--bs-form-valid-color) !important;
}

/* Fix dark mode for breadcrumb */
[data-bs-theme="dark"] .breadcrumb {
    background-color: var(--bs-tertiary-bg) !important;
    border: 1px solid var(--bs-primary-border-subtle) !important;
}

/* Fix dark mode for pagination */
[data-bs-theme="dark"] .dt-paging-button.page-item:not(.active) > *{
    background-color: var(--bs-tertiary-bg) !important;
    border-color: var(--bs-primary-border-subtle) !important;
}
[data-bs-theme="dark"] .dt-paging-button.page-item.disabled > *{
    background-color: var(--bs-tertiary-bg) !important;
    border-color: var(--bs-primary-border-subtle) !important;
    color: var(--bs-pagination-color) !important;
}
[data-bs-theme="dark"] .dt-paging-button.page-item.active > *{
    background-color: var(--bs-secondary-bg) !important;
    border-color: var(--bs-primary-border-subtle) !important;
    color: var(--bs-body-color) !important;
}
[data-bs-theme="dark"] .dt-search input[type="search"] {
    background-color: var(--bs-tertiary-bg) !important;
}

/* Bootstrap Brain css*/
/* <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/password-resets/password-reset-3/assets/css/password-reset-3.css"> */
.bsb-btn-xl{--bs-btn-padding-y:0.625rem;--bs-btn-padding-x:1.25rem;--bs-btn-font-size:calc(1.26rem + 0.12vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-xl{--bs-btn-font-size:1.35rem}}.bsb-btn-2xl{--bs-btn-padding-y:0.75rem;--bs-btn-padding-x:1.5rem;--bs-btn-font-size:calc(1.27rem + 0.24vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-2xl{--bs-btn-font-size:1.45rem}}.bsb-btn-3xl{--bs-btn-padding-y:0.875rem;--bs-btn-padding-x:1.75rem;--bs-btn-font-size:calc(1.28rem + 0.36vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-3xl{--bs-btn-font-size:1.55rem}}.bsb-btn-4xl{--bs-btn-padding-y:1rem;--bs-btn-padding-x:2rem;--bs-btn-font-size:calc(1.29rem + 0.48vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-4xl{--bs-btn-font-size:1.65rem}}.bsb-btn-5xl{--bs-btn-padding-y:1.125rem;--bs-btn-padding-x:2.25rem;--bs-btn-font-size:calc(1.3rem + 0.6vw);--bs-btn-border-radius:var(--bs-border-radius-lg)}@media(min-width:1200px){.bsb-btn-5xl{--bs-btn-font-size:1.75rem}}.bsb-tpl-bg-platinum{background:#e5e5e5!important}.bsb-tpl-bg-lotion{background:#fafafa!important}